body
{
    display : table;
    width: 100%;
    Background-color: rgb(50,50,50);
    Text-align: center;
    position: relative;

}


i.material-icons , i.material-icons + span {
    vertical-align: middle;
}


html, body {
    height: 100%;
    margin: 0; padding: 0;
}


h1{
    color : white;
}

span.shad{
    text-shadow : black 1px 1px, black -1px 1px,black 1px -1px,black -1px -1px;
    font-size : 1.3em;
}
div.slider{
    margin-top : 2.5%;
}
div.test2{

    background-color :rgb(50,50,50);
    width : 100%;
    padding-bottom: 2%;

}

div.collapsible-header{
    background-color: gainsboro;
}

#descrCadeau{
    font-size : 1.3em;
    color : gainsboro;
}

div.pres {
    width:30%;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    font-size : 120%;
    background-color : gainsboro;
    padding-top : 2%;
    padding-bottom : 2%;
}

textarea{ resize:none;}


.boutonQte{
    background-color : gainsboro;
}

.boutonQte:focus{
    background-color : gainsboro;
}

td{
    font-size : 1.25em;
}
table.striped{
    background-color : rgb(200,200,200);
    width : 80%;
    margin-left : 10%;
    margin-right : 10%;
}
div.pres2 {
    background-color : gainsboro;
    width:30%;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
    margin-top : 2%;
    font-size : 120%;
    padding-bottom : 2%;
    padding-top : 2%;
    margin-right : 2%;
    margin-left : 2%;
    padding-right : 2%;
    padding-left : 2%;

}

div.lien{
    font-size : 1.2em;
    padding : 2%;
    display : inline-block;
    background-color : gainsboro;
    width : 60%;
    text-align : center;
    vertical-align: middle;
}


div.formulaire{
    background-color : white;
    width:30%;
    display:inline-block;
    margin-top : 2%;
    font-size : 120%;
    padding-bottom : 2%;
    padding-top : 2%;
    margin-right : 2%;
    margin-left : 2%;
    padding-right : 2%;
    padding-left : 2%;
}
footer {position: absolute; bottom: 0; left: 0; right: 0}


div.formulaire form input{
    background-color : white;
}



div.formulaire form input:hover{
    background-color : rgb(245,245,245);
}

div.formulaire form label{
    color : black;
}


div.formulaire form input.validCoffret{
    border: 1px solid rgb(120,120,120);


}

div.pres2 form input{
    background-color : rgb(120,120,120);
    color : white;
    padding-top : 3%;
    padding-bottom : 3%;
    border-radius: 3px;
    border: 1px solid rgb(120,120,120);

}

div.pres2 form input:hover{
    background-color : #4CAF50;
    border: 1px solid #4CAF50;
}


div.achat{
    width : 20%;
    margin-top : 10%;
    display : inline-block;
}


a div{
    color : black;
    font-size: 110%;
}


a.waves-light{
    background-color: rgb(120,120,120);
}
a.waves-light:hover{
    background-color: #4CAF50;
}

a.dropdown-button{
    background-color: rgb(120,120,120);
}
a.dropdown-button:hover{
    background-color: #4CAF50;
}

div.presta{
    width : 16%;
    display : inline-block;
    padding : 0.5%;
    margin : 4%;
    background-color: Gainsboro;
}

div.presta:hover{
    background-color : white;
}

ul.dropdown-content{
    background-color: rgb(120,120,120);
}


a.btn-waves{
    background-color :rgb(120,120,120) ;
}

a.btn-waves:hover{
    background-color :#4CAF50 ;
}

div.total{
    background-color : gainsboro;
    width : 10%;
    margin-left : 45%;
    margin-right : 45%;
    margin-top : 2%;
    margin-bottom : 1%;
    font-size : 1.3em;
    padding : 1%;
}

div.cat{
    width : 20%;
    background-color: gainsboro;
    display : inline-block;
    margin : 2%;
    padding-top : 10%;
    padding-bottom : 10%;
}

 a div.cat{
    color : black;
    font-size: 1.8em;

}

 div.paie{
     background-color : gainsboro;
     width : 30%;
     font-size : 1.3em;
     padding : 1%;
     display : inline-block;
 }

 div.collapsible-body{
     background-color : gainsboro;
 }





@media (max-width : 1200px){

    div.presta{
        width : 20%;
    }


    div.total{
        margin: 7% 42.5%;


        width : 15%;
    }

    div.formulaire{
        width : 50%;
    }
}



@media (max-width : 900px){
    a.waves-light{
        font-size : 0.8em;
    }

    div.presta, div.cat{
        width : 25%;
    }
}

@media (max-width : 800px){

    div.lien{
        width : 100%;
    }
    a.waves-light{
        font-size : 1em;
        display : block;

    }

    div.formulaire{
        width : 70%;
    }

    table.striped{
        margin : 0;
        padding : 0;
        font-size : 0.8em;
        width : 100%;
    }

    div.pres, div.pres2{
        display : block;
        width : 60%;
        margin-left : 20%;
        margin-right : 20%;

    }

    div.presta, div.cat{
        width : 30%;
    }


    div.total{
        margin: 5% 42.5%;
        font-size : 0.8em;

        width : 15%;
    }

}

@media (max-width : 500px) {

    div.presta, div.cat {
        width: 60%;
    }

    table.striped{

        font-size : 0.6em;
    }

    div.total{
        margin: 7% 35%;
        font-size : 0.8em;

        width : 30%;
    }


}

